<!--The 'step_code' value from the .js file should be used-->
<li id="personal-details" data-bind="fadeVisible: isVisible, blockLoader: isLoading ">
    <div id="checkout-step-title" class="step-content" data-role="content">
        <h1  data-bind="i18n: 'Personal Details'"></h1>
        <!-- ko foreach: getRegion('custom-checkout-form-before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form id="custom-checkout-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" novalidate="novalidate">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <fieldset class="fieldset" id="personal">
                <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>
            <fieldset class="fieldset" id="home-address">
                <legend data-bind="i18n: 'Home Address'"></legend>
                <!-- ko foreach: getRegion('home-address') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>

            <fieldset class="fieldset" id="contact-details">
                <legend data-bind="i18n: 'Contact Details'"></legend>
                <!-- ko foreach: getRegion('contact-details') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>

            <fieldset class="fieldset" id="additional">
                <!-- ko foreach: getRegion('additional') -->
                <legend data-bind="i18n: 'Additional Details'"></legend>
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>

            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" data-bind="click: validate" type="submit" class="button action continue primary">
                        <!-- ko ifnot: (quoteIsVirtual) -->
                            <span><!-- ko i18n: 'Proceed to Delivery'--><i class="fa fa-long-arrow-right"></i><!-- /ko --></span>
                        <!--/ko-->

                        <!-- ko if: (quoteIsVirtual) -->
                            <span><!-- ko i18n: 'Proceed to Payment'--><i class="fa fa-long-arrow-right"></i><!-- /ko --></span>
                        <!--/ko-->
                    </button>
                </div>
            </div>
        </form>
        <!-- ko foreach: getRegion('custom-checkout-form-after') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</li>