<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="SuttonSilver_CustomCheckout::Question" sortOrder="10" title="Checkout Questions">
					<resource id="SuttonSilver_CustomCheckout::Question_save" sortOrder="10" title="Save Question"/>
					<resource id="SuttonSilver_CustomCheckout::Question_delete" sortOrder="20" title="Delete Question"/>
					<resource id="SuttonSilver_CustomCheckout::Question_update" sortOrder="30" title="Update Question"/>
					<resource id="SuttonSilver_CustomCheckout::Question_view" sortOrder="40" title="View Question"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
