<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <clscustomshipping>
                <active>1</active>
                <allowed_methods>delivery</allowed_methods>
                <methods>delivery</methods>
                <sallowspecific>0</sallowspecific>
                <model>SuttonSilver\CustomCheckout\Model\Carrier</model>
                <name>CLS Custom Shipping</name>
                <title>CLS Shipping</title>
                <handling_type>F</handling_type>
            </clscustomshipping>
        </carriers>
    </default>
</config>