<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<virtualType name="SuttonSilver\CustomCheckout\Model\ResourceModel\Question\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">suttonsilver_question</argument>
			<argument name="resourceModel" xsi:type="string">SuttonSilver\CustomCheckout\Model\ResourceModel\Question\Collection</argument>
		</arguments>
	</virtualType>
	<virtualType name="SuttonSilver\CustomCheckout\Model\ResourceModel\Matrix\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">suttonsilver_cls_matrix</argument>
			<argument name="resourceModel" xsi:type="string">SuttonSilver\CustomCheckout\Model\ResourceModel\Matrix\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="suttonsilver_question_grid_data_source" xsi:type="string">SuttonSilver\CustomCheckout\Model\ResourceModel\Question\Grid\Collection</item>
				<item name="suttonsilver_matrix_grid_data_source" xsi:type="string">SuttonSilver\CustomCheckout\Model\ResourceModel\Matrix\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
		<plugin disabled="false" name="SuttonSilver_CustomCheckout_Plugin_Magento_Checkout_Block_Checkout_LayoutProcessor" sortOrder="10" type="SuttonSilver\CustomCheckout\Plugin\Magento\Checkout\Block\Checkout\LayoutProcessor"/>
	</type>
	<type name="Magento\Checkout\Model\DefaultConfigProvider">
		<plugin sortOrder="100" name="custom_discount" type="SuttonSilver\CustomCheckout\Plugin\Magento\Checkout\Model\CustomDiscountConfigProvider" />
	</type>
	<preference for="SuttonSilver\CustomCheckout\Api\QuestionAnswersRepositoryInterface" type="SuttonSilver\CustomCheckout\Model\QuestionAnswersRepository" />
	<preference for="SuttonSilver\CustomCheckout\Api\QuestionValuesRepositoryInterface" type="SuttonSilver\CustomCheckout\Model\QuestionValuesRepository" />
	<preference for="SuttonSilver\CustomCheckout\Api\QuestionRepositoryInterface" type="SuttonSilver\CustomCheckout\Model\QuestionRepository" />

	<preference for="SuttonSilver\CustomCheckout\Api\Data\QuestionAnswersInterface" type="SuttonSilver\CustomCheckout\Model\QuestionAnswers" />
	<preference for="SuttonSilver\CustomCheckout\Api\Data\QuestionValuesInterface" type="SuttonSilver\CustomCheckout\Model\QuestionValues" />
	<preference for="SuttonSilver\CustomCheckout\Api\Data\QuestionInterface" type="SuttonSilver\CustomCheckout\Model\Question" />

	<preference for="SuttonSilver\CustomCheckout\Api\Data\QuestionAnswersSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="SuttonSilver\CustomCheckout\Api\Data\QuestionSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="SuttonSilver\CustomCheckout\Api\Data\QuestionValuesSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>


	<preference for="SuttonSilver\CustomCheckout\Api\MatrixRepositoryInterface" type="SuttonSilver\CustomCheckout\Model\MatrixRepository" />
	<preference for="SuttonSilver\CustomCheckout\Api\Data\MatrixInterface" type="SuttonSilver\CustomCheckout\Model\Matrix" />
	<preference for="SuttonSilver\CustomCheckout\Api\Data\MatrixSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

	<preference for="Magento\Checkout\Block\Cart\LayoutProcessor" type="SuttonSilver\CustomCheckout\Block\Frontend\Checkout\Cart\LayoutProcessor" />


	<preference for="Magento\Customer\Controller\Adminhtml\Index\Save" type="SuttonSilver\CustomCheckout\Controller\Adminhtml\Customer\Save" />
	<preference for="Magento\Customer\Model\Data\Customer" type="SuttonSilver\CustomCheckout\Model\Data\Customer" />
</config>
