<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_controller_onepage_saveOrder">
        <observer name="suttonsilver_customcheckout" instance="SuttonSilver\CustomCheckout\Plugin\Magento\Sales\Api\OrderManagementInterface" />
    </event>
</config>

