<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="suttonsilver_customcheckout_question_save_before">
        <observer instance="SuttonSilver\CustomCheckout\Observer\CustomcheckoutQuestionSaveBefore" name="suttonsilver_customcheckout_question_save_before"/>
    </event>
</config>
